<div class="centered">

  <button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off"
    onclick="togglePaw()" id="main-button">
    <div class="handle"></div>
  </button>
  <div class="catpaw-container">
    <img class="catpaw-image" alt="myImage" src="/images/catpaw.png" />
  </div>
</div>